@model TodoItem

<form asp-action="AddItem" method="POST">
     <div class="form-group">
        <label asp-for="Title">Add a new item:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DueAt">Due Date:</label>
        <input asp-for="DueAt" type="datetime-local" class="form-control" />
        <span asp-validation-for="DueAt" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Item</button>
</form>
<!-- P. 62-63 -->