@model TodoViewModel
@using Humanizer
<!-- P. 46 -->

@{
	ViewData["Title"] = "Manage your todo list";
}

<div class="panel panel-default todo-panel">
	<div class="panel-heading">@ViewData["Title"]</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<td>&#x2714;</td>
				<td>Item</td>
				<td>Due</td>
			</tr>
		</thead>

		@foreach (var item in Model.Items)
		{
			<tr>
				<td>
					<!-- P. 69 -->
					<form asp-action="MarkDone" method="POST">
						<input type="checkbox" class="done-checkbox">
						<input type="hidden" name="id" value="@item.Id">
					</form>
				</td>
				<td>@item.Title</td>
				<td>@item.DueAt.Humanize()</td>
				<!-- P. 46 -->
			</tr>
		}
	</table>
	
	<div class="panel-footer add-item-form">
		<!-- TODO: Add item form p. 28-29; p. 62-63 -->
		@await Html.PartialAsync("AddItemPartial", new TodoItem())
	</div>
</div>